final1(sin interfaz).json
[{"id":"c757514a.0cc8a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1785f36.8b8f1","type":"inject","z":"c757514a.0cc8a","name":"1","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"61f03b6b.0182f4","type":"inject","z":"c757514a.0cc8a","name":"30","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"ebbf145c.a55d88","type":"inject","z":"c757514a.0cc8a","name":"31","topic":"","payload":"31","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"49173587.67a81c","type":"inject","z":"c757514a.0cc8a","name":"50","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":480,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"b1cde971.782038","type":"switch","z":"c757514a.0cc8a","name":"MOTOR","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"30","v2t":"num"},{"t":"btwn","v":"31","vt":"num","v2":"50","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":280,"wires":[["38c9a8e7.2a3798"],["b1f95f32.bcc97","b1f95f32.bcc97"]]},{"id":"38c9a8e7.2a3798","type":"function","z":"c757514a.0cc8a","name":"Hay persona","func":"var aux=global.get(\"flag\");\n\nif(aux == '0'){\n    global.set(\"flag\",\"1\");\n    msg.payload=7;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["37263165.cc0e4e","e230c237.a4203"]]},{"id":"f7b8be2a.1c36a","type":"function","z":"c757514a.0cc8a","name":"setear flag","func":"global.set(\"flag\",\"0\");\nmsg.payload=global.get(\"flag\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":60,"wires":[["5f2e1dd0.ff2b84"]]},{"id":"756a3c0a.6e8614","type":"inject","z":"c757514a.0cc8a","name":"setear variable global","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":200,"y":60,"wires":[["f7b8be2a.1c36a"]]},{"id":"37263165.cc0e4e","type":"debug","z":"c757514a.0cc8a","name":"CERRAR","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":730,"y":260,"wires":[]},{"id":"5f2e1dd0.ff2b84","type":"debug","z":"c757514a.0cc8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":20,"wires":[]},{"id":"b1f95f32.bcc97","type":"function","z":"c757514a.0cc8a","name":"No hay nadie","func":"var aux=global.get(\"flag\");\n\nif(aux == '1'){\n    global.set(\"flag\",\"0\");\n    msg.payload=5;\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":320,"wires":[["cfea2378.e0868","f74f3cdf.e5c17"]]},{"id":"cfea2378.e0868","type":"debug","z":"c757514a.0cc8a","name":"ABRIR","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":700,"y":320,"wires":[]},{"id":"e0dc2d0e.24f7e","type":"inject","z":"c757514a.0cc8a","name":"26","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"92f968a3.45fde8","type":"inject","z":"c757514a.0cc8a","name":"28","topic":"","payload":"28","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"812dadf5.6319d","type":"inject","z":"c757514a.0cc8a","name":"10","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"983d5e76.1fb1c","type":"inject","z":"c757514a.0cc8a","name":"40","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"31207051.dc69c","type":"inject","z":"c757514a.0cc8a","name":"70","topic":"","payload":"70","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"5eba9d29.d1bff4","type":"inject","z":"c757514a.0cc8a","name":"0","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["b1cde971.782038","2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"52df7e10.7ad19","type":"debug","z":"c757514a.0cc8a","name":"ROJO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":500,"wires":[]},{"id":"8c6193fe.94996","type":"debug","z":"c757514a.0cc8a","name":"VERDE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":600,"wires":[]},{"id":"e230c237.a4203","type":"function","z":"c757514a.0cc8a","name":"DETECTADO","func":"\n    msg.payload = \"Intruso detectado\";\n    return msg;\n","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["18c1b49a.c6c65b","aea166be.c34718"]]},{"id":"f74f3cdf.e5c17","type":"function","z":"c757514a.0cc8a","name":"ZONA LIBRE","func":"\n    msg.payload = \"Zona despejada\";\n    return msg;\n","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["693173e9.cf1e7c","18130908.f99d87"]]},{"id":"18c1b49a.c6c65b","type":"debug","z":"c757514a.0cc8a","name":"MENSAJE_DETECTADO","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":720,"y":120,"wires":[]},{"id":"693173e9.cf1e7c","type":"debug","z":"c757514a.0cc8a","name":"MENSAJE_LIBRE","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":780,"y":380,"wires":[]},{"id":"2ab5cfcc.2b8a","type":"function","z":"c757514a.0cc8a","name":"ON/OF ROJO","func":"if(msg.payload >= '1' &&  msg.payload <= '30'){\n    msg.payload= 1;\n}\nelse{\n    msg.payload= 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":480,"wires":[["52df7e10.7ad19"]]},{"id":"7fbeafe2.fc473","type":"function","z":"c757514a.0cc8a","name":"ON/OF VERDE","func":"if(msg.payload >= '31' && msg.payload <= '50'){\n    msg.payload= 1;\n}\nelse{\n    msg.payload= 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":640,"wires":[["8c6193fe.94996"]]},{"id":"d716eb2d.6391f8","type":"inject","z":"c757514a.0cc8a","name":"Setear leds","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":510,"y":560,"wires":[["2ab5cfcc.2b8a","7fbeafe2.fc473"]]},{"id":"37c26d49.5fd2a2","type":"inject","z":"c757514a.0cc8a","name":"setear el motor","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":620,"y":180,"wires":[["37263165.cc0e4e"]]},{"id":"aea166be.c34718","type":"e-mail","z":"c757514a.0cc8a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ser.unlp1993@gmail.com","dname":"Aviso \"detectado\"","x":750,"y":60,"wires":[]},{"id":"18130908.f99d87","type":"e-mail","z":"c757514a.0cc8a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"ser.unlp1993@gmail.com","dname":"Aviso \"despejado\"","x":930,"y":440,"wires":[]}]